VITE_APP_LANGUAGE=es
VITE_API_BASE_URL=http://192.168.1.235:4000
VITE_GOOGLE_CLIENT_ID=PUT_YOUR_GOOGLE_CLIENT_ID
DEV_HTTPS=false
DEV_HTTPS_CERT_FILE=../certs/namelessnote-local.pem
DEV_HTTPS_KEY_FILE=../certs/namelessnote-local-key.pem
GOOGLE_CLIENT_ID=PUT_YOUR_GOOGLE_CLIENT_ID_HERE.apps.googleusercontent.com
